<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
	<httpCompression directory="%SystemDrive%\inetpub\temp\IIS Temporary Compressed Files">
		  <staticTypes>
			<add mimeType="text/*" enabled="true" />
			<add mimeType="message/*" enabled="true" />
			<add mimeType="application/javascript" enabled="true" />
			<add mimeType="application/x-javascript" enabled="true" />
			<add mimeType="image/jpeg" enabled="true" />
			<add mimeType="image/png" enabled="true" />
			<add mimeType="image/svg" enabled="true" />
			<add mimeType="*/*" enabled="false" />
		  </staticTypes>
		  <dynamicTypes>
			<add mimeType="text/*" enabled="true" />
			<add mimeType="message/*" enabled="true" />
			<add mimeType="application/javascript" enabled="true" />
			<add mimeType="application/x-javascript" enabled="true" />
			<add mimeType="image/jpeg" enabled="true" />
			<add mimeType="image/svg+xml" enabled="true" />
			<add mimeType="application/font-woff" enabled="true" />
			<add mimeType="application/x-font-ttf" enabled="true" />
			<add mimeType="application/octet-stream" enabled="true" />
			<add mimeType="application/font-woff2" enabled="true" />
			<add mimeType="*/*" enabled="false" />
		  </dynamicTypes>
		  <staticContent>
				<clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="3.00:00:00" />
		  </staticContent>
		  <dynamicContent>
				<clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="3.00:00:00" />
		  </dynamicContent>
		  <scheme name="gzip" dll="%Windir%\system32\inetsrv\gzip.dll" dynamicCompressionLevel="8" />
		</httpCompression>
		<urlCompression doDynamicCompression="true" doStaticCompression="true" dynamicCompressionBeforeCache="false" />
        <caching>
            <profiles>
                <add extension=".js" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
                <add extension=".ico" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
                <add extension=".ttf" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
                <add extension=".otf" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
                <add extension=".woff" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
                <add extension=".woff2" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
                <add extension=".css" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
                <add extension=".svg" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
                <add extension=".jpg" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
                <add extension=".png" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
            </profiles>
        </caching>
        <rewrite>
            <rules>
                <rule name="Imported Rule 1" stopProcessing="true">
                    <match url="^media/countdown/([0-9]+)-([0-9]+)-([0-9]+)/([0-9]+):([0-9]+):([0-9]+)$" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" ignoreCase="false" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="./static/images/countdown/index.php?date={R:1}-{R:2}-{R:3}&amp;hour={R:4}:{R:5}:{R:6}" appendQueryString="true" />
                </rule>
                <rule name="Imported Rule 2" stopProcessing="true">
                    <match url="^logout$" />
                    <action type="Rewrite" url="./src/public/logout.php?page=login" appendQueryString="true" />
                </rule>
                <rule name="Imported Rule 3" stopProcessing="true">
                    <match url="^login$" />
                    <action type="Rewrite" url="./index.php?page=login" appendQueryString="true" />
                </rule>
                <rule name="Imported Rule 4" stopProcessing="true">
                    <match url="^cadastro$" />
                    <action type="Rewrite" url="./index.php?page=cadastro" appendQueryString="true" />
                </rule>
                <rule name="Imported Rule 5" stopProcessing="true">
                    <match url="^cadastro/concluir$" />
                    <action type="Rewrite" url="./src/public/createAccount.php" appendQueryString="true" />
                </rule>
                <rule name="Imported Rule 6" stopProcessing="true">
                    <match url="^cadastro/password$" />
                    <action type="Rewrite" url="./index.php?page=password" appendQueryString="true" />
                </rule>
                <rule name="Imported Rule 7" stopProcessing="true">
                    <match url="^cadastro/confirmar$" />
                    <action type="Rewrite" url="./index.php?page=confirmar-cadastro" appendQueryString="true" />
                </rule>
                <rule name="Imported Rule 8" stopProcessing="true">
                    <match url="^members$" />
                    <action type="Rewrite" url="./index.php?page=members&amp;subcontent=home" appendQueryString="true" />
                </rule>
                <rule name="Imported Rule 9" stopProcessing="true">
                    <match url="^members/([a-zA-Z0-9-z\-\_]+)$" />
                    <action type="Rewrite" url="./index.php?page=members&amp;subcontent={R:1}" appendQueryString="true" />
                </rule>
                <rule name="Imported Rule 10" stopProcessing="true">
                    <match url="^members/lesson/([0-9]+)/([a-zA-Z0-9-z\-\_]+)$" />
                    <action type="Rewrite" url="./index.php?page=lesson&amp;id={R:1}&amp;token={R:2}" appendQueryString="true" />
                </rule>
                <rule name="Imported Rule 11" stopProcessing="true">
                    <match url="^c$" />
                    <action type="Rewrite" url="./src/public/setCoach.php" appendQueryString="true" />
                </rule>
                <rule name="Imported Rule 12" stopProcessing="true">
                    <match url="^c/([a-zA-Z0-9-z\-\_]+)$" />
                    <action type="Rewrite" url="./src/public/setCoach.php?coach={R:1}" appendQueryString="true" />
                </rule>
                <rule name="Imported Rule 13" stopProcessing="true">
                    <match url="^([a-zA-Z0-9-z\-\_]+)$" />
                    <action type="Rewrite" url="./index.php?page={R:1}" appendQueryString="true" />
                </rule>
            </rules>
        </rewrite>
        <staticContent>
            <mimeMap fileExtension=".*" mimeType="text/xml" />
        </staticContent>
    </system.webServer>
</configuration>
